# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables / secrets
.env
.env.*
secrets.yaml
secret.yaml

# IDE
.vscode/
.idea/

# Logs / temp
*.log
tmp/
temp/

# Testing cache
.pytest_cache/

# OS junk
.DS_Store
Thumbs.db

# Kubernetes local configs
*kubeconfig*
*.bak

# Terraform (if added later)
.terraform/
*.tfstate*

#miscellaneous
plan.txt